.ui.four.stackable.cards
  .ui.card
    .content
      .header Links
      .description
        List of all links
      .ui.divider
      .content.center.aligned
        %i.massive.linkify.icon
    %a.ui.bottom.attached.primary.button.load{:href => links_path}
      Start
      %i.arrow.circle.right.icon
  .ui.card
    .content
      .header Tags
      .description
        List of all tags
      .ui.divider
      .content.center.aligned
        %i.massive.tags.icon
    %a.ui.bottom.attached.primary.button.load{:href => tags_path}
      Start
      %i.arrow.circle.right.icon
  - if current_user.is_admin
    .ui.card
      .content
        .header Users
        .description
          User Managment
        .ui.divider
        .content.center.aligned
          %i.massive.user.icon
      %a.ui.bottom.attached.primary.button.load{:href => users_list_path}
        Start
        %i.arrow.circle.right.icon
.ui.divider
